
<h1>Stupid Coaching</h1>
<div class="question">
  <%= @question  %>
  <p> - You </p>
</div>

<div class="answer">
  <%= @answer %>
  <p> - Your coach </p>
</div>

  <%= link_to"Add a new question", ask_path %>
