<h1>Stupid Coaching</h1>
<p>Ask you coach anything anything:</p>
<form class="input-group" action="/answer" method="get" data-turbo="false">
  <input class="form-control" type="text" name="question">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
